@font-face {
    font-family: 'metropolisregular';
    src: url('fonts/metropolis-regular-webfont.eot');
    src: url('fonts/metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metropolis-regular-webfont.woff') format('woff'),
         url('fonts/metropolis-regular-webfont.ttf') format('truetype'),
         url('fonts/metropolis-regular-webfont.svg#metropolisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'metropolisregular', "Courier New", "Trebuchet MS", sans-serif;
}
body {
    margin: 0px;
}
.bloc_page {
    display: flex;
    align-items: stretch;
    margin: auto;
}

aside {
    background-color: darkorange;
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 200px;
    font-size: 0.6em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cv {
    flex-grow: 3 ;
    flex-basis: 600px;
}


aside * {
    padding: 0% 10%;
}
/* figure : ma tronche est importante, c'est un cv après tout */
aside figure {
    margin: 2em;
    padding: 0px;
    width: 10em;
    min-height: 10em;
    border: black 1px solid;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}
/* img : pour adaption en cas de changement */
aside figure img {
    display: block;
    width: max-content;
    padding: 0px;
}
aside div {
    background-color: black;
    padding: 0px;
    width: 100%;
}
aside h3 {
    padding: 0px;
    margin: 0.1em;
    font-size: 1.5em;
    color: darkorange;
    text-align: center;
    text-transform: uppercase;
}
aside ul {
    list-style: none;
}
aside li {
    margin-bottom: 1em;
    padding-left: 0px;
}
aside p {
    height: 100%;
}
aside .int {
    background-color: darkorange;
    display: flex;
    justify-content: center;
}
aside .int img {
    width: 3.5em;
    padding: 0.7em;
}